/*

  Theme Name: Second Child
  Theme URI:
  Author: Kumar
  Author URI: https://secondchild.nyc
  Description: Theme for Second Child
  Version: 1.0
  License: GNU General Public License v2 or later
  License URI: http://gnu.org/licenses/gpl-2.0.hmtl
  Tags: CSS Grid, Flexbox ready, SecondChild
  Text Domain: SecondChild

*/

&:root {
	--headlinefont: 'Open Sans', sans-serif;
	--bodyfont: 'Lora', serif;
	--primaryblue: #383dd6;
	--secondarypink: #FFA4DF;
}

body {
	background-color: gray;
	font-family: var(--bodyFont);
}

html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
	&:before {
		box-sizing: inherit;
	}
	&:after {
		box-sizing: inherit;
	}
}

h1 {
	font-family: var(--headlineFont);
}
h2 {
	font-family: var(--headlineFont);
}
h3 {
	font-family: var(--headlineFont);
}
h4 {
	font-family: var(--headlineFont);
}
h5 {
	font-family: var(--headlineFont);
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

.h1-headline-large {
	font-size: 60px;
}
.h1-headline-small {
	font-size: 48px;
}
.h2-secondary-large {
	font-size: 32px;
}
.h2-secondary-small {
	font-size: 24px;
}
.body-large {
	font-size: 21px;
}
.body-small {
	font-size: 24px;
}
.date-large {
	font-size: 21px;
}
.date-small {
	font-size: 18px;
}
.tag-large {
	font-size: 21px;
}
.tag-medium {
	font-size: 18px;
}
.tag-small {
	font-size: 14px;
}
.everybrow-label {
	font-size: 16px;
}
.testimonial {
	font-size: 36px;
}
.cta-label {
	font-size: 21px;
}
.hyperlink-large {
	font-size: 21px;
}
.hyperlink-small {
	font-size: 18px;
}
.text-center {
	text-align: center;
}
.page-width {
	padding: 0px 50px;
}
main {
  padding: 0;
}
.site-header-front {
	height: 100vh;
	min-height: 65rem;
	padding-top: 2rem;
	margin-top: -2rem;
}
.tagline {
	margin-top: 10rem;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	p {
		text-align: left;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}

.b-a {
	transition: all .25s;
	content: "";
	position: absolute;
	left: 0;
	height: 6px;
	width: 30px;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.95);
}

.bar {
	transition: all .25s;
	content: "";
	position: absolute;
	left: 0;
	height: 6px;
	width: 30px;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.95);
	position: fixed;
	left: 97%;
	top: 24px;
	&:before {
		transition: all .25s;
		content: "";
		position: absolute;
		left: 0;
		height: 6px;
		width: 30px;
		border-radius: 15px;
		background-color: rgba(255, 255, 255, 0.95);
		top: -8px;
	}
	&:after {
		transition: all .25s;
		content: "";
		position: absolute;
		left: 0;
		height: 6px;
		width: 30px;
		border-radius: 15px;
		background-color: rgba(255, 255, 255, 0.95);
		top: 8px;
	}
}

.menu-collapsed {
	transition: all .25s;
	position: fixed;
	top: 10px;
	left: 9px;
	height: 36px;
	width: 36px;
	z-index: 1;
	cursor: pointer;
	ul {
		transition: all 0s;
		position: fixed;
		left: -9000px;
	}
	img {
		display: none;
	}
}

.b-a-expanded {
	transition: all .25s;
	top: -0px;
}

.menu-expanded {
	.bar {
		&:before {
			transition: all .25s;
			top: -0px;
			transform: rotate(45deg);
		}
		&:after {
			transition: all .25s;
			top: -0px;
			transform: rotate(-45deg);
		}
		background-color: transparent;
		transition: all .25s;
	}
	transition: all .25s;
	text-align: center;
	height: 700px;
	width: 100%;
	border-radius: 0px;
	top: 0;
	left: 0;
	background-color: var(--primaryBlue);
	img {
		display: block;
		float: left;
		margin-top: 10px;
		padding-left: 20px;
	}
	ul {
		transition: all 0s;
		left: 0;
		z-index: 2;
		padding: 40px;
	}
	a {
		transition: all .15s;
		text-decoration: none;
		padding: 40px;
		color: #fff;
		display: block;
		font-size: 60px;
		max-width: 50%;
		margin-left: 100%;
		&:hover {
			color: var(--secondaryPink);
		}
	}
}

.logo {
	padding-left: 20px;
	margin-top: 10px;
}

.video-player {
	position: relative;
	.video-player-button {
		-webkit-transition: all .2s;
		transition: all .2s;
		opacity: 0;
		cursor: pointer;
		position: absolute;
		z-index: 2;
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}
	&:hover {
		.video-player-button {
			opacity: 1;
		}
	}
}

.video-cta-play {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: #fba5de;
	width: 80px;
	height: 50px;
	cursor: pointer;
	transition: all 200ms ease-in-out;
	&:hover {
		transform: scale(1.25);
	}
	&:after {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		width: 0;
		height: 0;
		border-color: transparent transparent transparent #fff;
		border-style: solid;
		border-width: 15px 0 15px 30px;
	}
}

.site-footer {
	background-color: black;
	color: white;
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 15px;
	font-family: var(--bodyFont);
}

.footer-content {
	display: flex;
	justify-content: space-between;
}

.main-projects {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-project-card {
	display: inline-flex;
	justify-content: space-between;
	flex-wrap: wrap;

	.card-wrapper-cta,
	.card-wrapper-cta > img,
	> img {
		width: 100%;
	}
	.card-content {
		position: absolute;
		display: flex;
		flex-direction: column;
		top: 0;
		height: 100%;
		width: 100%;
		padding: 40px;
		background-color: rgba(0,0,0,0.7);
		color: #fff;
		opacity: 0;
		transition: opacity 200ms;

		opacity: 1;

		.client-name {
			margin: 0 0 16px;
			font-weight: 400;
			text-transform: uppercase;
		}
		.inner-content {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			flex: 1 0 0;
		}
		h3 {
			margin: 0 0 10px;
			font-size: 2em;
		}
		.project-tags {
			display: flex;
			flex: 0 0 0;
			margin: 0;
			font-family: var(--headlineFont);
			>li {
				margin-right: 12px;
			}
		}
		p {
			margin: 0;
		}
	}
	&:hover {
		.card-content {
			opacity: 1;
		}
	}
}

.main-project-card.full-hero {
	width: 100%;
	flex: 0 0 100%;
	max-width: 100%;
	.card-content {
		justify-content: center;
		align-items: center;
		background-color: rgba(0,0,0,0.0);
		opacity: 1;

		.inner-content {
			flex-direction: column-reverse;
			justify-content: center;
			align-items: center;
		}
		.project-tags {
			align-self: flex-end;
		}
	}
}

.about-page {
	background-color: black;
	color: white;
}

.main-people {
	.main-people-card {
		display: inline-flex;
		width: 33%;
		text-align: center;
		padding: 25px 0px;
		.card-content {
			.personName {
				font-weight: bold;
			}
		}
	}
}
.who-we-are-about {
	padding-bottom: 50px;
	.offers-list {
		p {
			display: inline-flex;
			width: 33%;
		}
	}
}

.line-break {
	width: 100%;
	background-color: white;
	height: 5px;
}

.who-we-are {
	padding-top: 50px;
}

@media (min-width: 768px) {
	body.home {
		.header-grid {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(5, 1fr);
			height: 100%;
		}
		.navigation-bar {
			grid-column: 1 / 5;
		}
	}
	.tagline {
		grid-column: 2 / 4;
		grid-row: 3 / 4;
		color: white;
	}
}

@media (max-width: 768px) {
	.main-project-card {
		width: 100%;
	}
}

@media (max-width:786px) {
	.main-people {
		.main-people-card {
			width: 49.7%;
		}
	}
	.who-we-are {
		text-align: center;
	}
}

@media (max-width:414px) {
	.main-people {
		.main-people-card {
			width: 49.3%;
		}
	}
	.who-we-are-about {
		h4 {
			text-align: center;
		}
	}
	.offers-list {
		text-align: justify;
	}
}



// MODULES
