/*

  Theme Name: Second Child
  Theme URI:
  Author: Kumar
  Author URI: https://secondchild.nyc
  Description: Theme for Second Child
  Version: 1.0
  License: GNU General Public License v2 or later
  License URI: http://gnu.org/licenses/gpl-2.0.hmtl
  Tags: CSS Grid, Flexbox ready, SecondChild
  Text Domain: SecondChild

*/



:root {
  /** Fonts **/
  --headlineFont: 'Open Sans', sans-serif;
  --bodyFont: 'Lora', serif;

  /** Colors **/
  --primaryBlue: #383dd6;
  --secondaryPink: #FFA4DF;
}


body{
  /* background-color: var(--primaryBlue); */
  background-color: gray;
  font-family: var(--bodyFont);
}

html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}

/* ========== HEADING/global Styles ========== */

h1, h2, h3, h4, h5 {
  font-family: var(--headlineFont);
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

img{
  max-width: 100%;
  height: auto;
}

.h1-headline-large{
  font-size: 60px
}
.h1-headline-small{
  font-size: 48px;
}

.h2-secondary-large{
  font-size: 32px;
}
.h2-secondary-small{
  font-size: 24px;
}

.body-large{
  font-size: 21px;
}
.body-small{
  font-size: 24px;
}

.date-large{
  font-size: 21px;
}
.date-small{
  font-size: 18px;
}

.tag-large{
  font-size: 21px;
}
.tag-medium{
  font-size: 18px;
}
.tag-small{
  font-size: 14px;
}

.everybrow-label{
  font-size: 16px;
}

.testimonial{
  font-size: 36px;
}

.cta-label{
  font-size: 21px;
}

.hyperlink-large{
  font-size: 21px;
}
.hyperlink-small{
  font-size: 18px;
}

.text-center{
  text-align: center;
}

.page-width{
  padding: 0px 50px;
}

main {
  padding: 0;
}

/*========= front header ==========*/

.site-header {
  position: absolute;
  z-index: 10;
}

.site-header-front{
  /* height: 100vh;
  min-height: 65rem;
  padding-top: 2rem;
  margin-top: -2rem; */

  position: absolute;
  z-index: 10;
  top: 0;
}

@media (min-width: 768px){
  body.home .header-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
  }
  body.home .navigation-bar{
    grid-column: 1 / 5;
  }

  .tagline{
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    color: white;
  }
}
.tagline{
  margin-top: 10rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.tagline p{
  text-align: left;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}


/*========== Logo styles ========== */
.logo{
  display: inline-block;
  position: relative;
  width: 35px;
  height: 52px;
  padding-left: 60px;
  padding-top: 40px;
  z-index: 10;
}
.second-child-logo-svg .top-path,
.second-child-logo-svg .base-path {
  transition: fill 250ms;
}
.second-child-logo-svg .top-path {
  fill: #FFFFFF;
}
.second-child-logo-svg .base-path {
  fill: #FFFFFF;
}
.second-child-logo-svg.logo-blue .top-path {
  /* fill: #383DD6; */
  fill: var(--primaryBlue);
}
.second-child-logo-svg.logo-blue .base-path {
  /* fill: #FFA4DF; */
  fill: var(--secondaryPink);
}
.menu-expanded + .logo {
  position: fixed;
}
/*========= collapsible menu ==========*/
.b-a, .bar, .bar:before, .bar:after {
  transition: all .25s;
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  width: 30px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.95);
}
.menu-collapsed.reversed-color:not(.menu-expanded) .b-a,
.menu-collapsed.reversed-color:not(.menu-expanded) .bar,
.menu-collapsed.reversed-color:not(.menu-expanded) .bar:before,
.menu-collapsed.reversed-color:not(.menu-expanded) .bar:after {
  background-color: rgba(0,0,0,0.95);
}

.menu-collapsed {
  transition: all .25s;
  position: fixed;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  color: #fff;
}
.menu-collapsed .menu-content {
  transition: padding-left 250ms;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: -9000px;
  /* width: 0; */
  min-width: 0;
}
.menu-collapsed .main-menu {
  transition: flex 250ms;
  flex: 3 0 0;
}
.menu-collapsed .main-menu-info {
  transition: flex 250ms;
  flex: 2 0 0;
  overflow: hidden;
}
.menu-collapsed .main-menu-info .menu-info-block {
  margin-bottom: 36px;
}
.menu-collapsed .main-menu-info h3 {
  margin-top: 0px;
}
.menu-collapsed .main-menu-info span {
  display: block;
}
.menu-collapsed ul {
  transition: all 0s;
  /* position: fixed; */
  position: relative;
  left: -9000px;
  text-align: left;
  font-family: var(--headlineFont);
  font-weight: 900;
  /* display: flex;
  flex-direction: column; */
}
.menu-collapsed img{
  display: none;
}

.bar {
  position: fixed;
  left: auto;
  right: 60px;
  top: 60px;
}
.bar > span {
  display: block;
  position: absolute;
  width: 125%;
  height: 28px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.bar:before {
  top: -8px;
}
.bar:after {
  top: 8px;
}

.b-a-expanded, .menu-expanded .bar:before, .menu-expanded .bar:after {
  transition: all .25s;
  top: -0px;
}

.menu-expanded {
  transition: all .25s;
  text-align: left;
  /* height: 700px; */
  height: 100vh;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  line-height: 1.15;
  background-color: var(--primaryBlue);
}
.menu-expanded .menu-content {
  left: 0;
  width: 70vw;
  min-width: 600px;
  padding: 150px 40px 75px;
}
.menu-expanded img{
  position: fixed;
  display: block;
  float: left;
  margin-top: 40px;
  padding-left: 60px;
}

.menu-expanded ul {
  transition: all 0s;
  left: 0;
  z-index: 2;
  /* padding: 40px; */
}
.menu-expanded a {
  transition: all .15s;
  text-decoration: none;
  padding-bottom: 30px;
  color: #fff;
  display: block;
  font-size: 42px;
  /* max-width: 50%; */
  /* margin-left: 100%; */
}
.menu-expanded a:hover {
  color: var(--secondaryPink);
}
.menu-expanded .bar,
.menu-expanded.reversed-color .bar {
  background-color: transparent;
  transition: all .25s;
}
.menu-expanded .bar:before {
  transform: rotate(45deg);
}
.menu-expanded .bar:after {
  transform: rotate(-45deg);
}

.menu-collapsed.reversed-color + .logo .second-child-logo-svg .top-path {
  fill: var(--primaryBlue);
}
.menu-collapsed.reversed-color + .logo .second-child-logo-svg .base-path {
  fill: var(--secondaryPink);
}
.menu-collapsed.menu-expanded + .logo .second-child-logo-svg .top-path,
.menu-collapsed.menu-expanded + .logo .second-child-logo-svg .base-path {
  fill: #FFFFFF;
}
@media(max-width: 640px){

  .menu-collapsed .main-menu {
    flex: 5 0 0;
  }
  .menu-collapsed .main-menu-info {
    flex: 4 0 0;
  }
  .menu-expanded .menu-content {
    width: 100vw;
    /* max-width: calc(100vw - 40px); */
    min-width: 0;
  }
  .menu-expanded a {
    /* font-size: 32px; */
  }

}
@media(max-width: 480px){

  .menu-content {
    flex-wrap: wrap;
  }
  .menu-collapsed .main-menu {
    flex: 0 0 100%;
  }
  .menu-collapsed .main-menu-info {
    flex: 0 0 100%;
  }
}
/*========= inline collapsible menu ==========*/
.inline-menu-collapsed {
  display: flex;
  min-height: 150px;
  padding-top: 128px;
  padding-bottom: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  transition: background-color 350ms;
}
.inline-menu-collapsed .inline-menu-title {
  position: relative;
  margin: 0;
  padding: 0 24px;
  font-size: 40px;
  font-family: var(--headlineFont);
  color: #000000;
  cursor: pointer;
  transition: color 350ms;
}
.inline-menu-collapsed .inline-menu-title:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0.275em;;
  right: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
  transition: bottom 250ms, border-color 250ms, transform 250ms;
}
.inline-menu-expanded .inline-menu-title:after {
  bottom: 0em;
  border-color: #fff;
  /* transform: rotate(225deg); */
  transform: rotate(45deg) scale(-1,-1);
}
.inline-menu-collapsed .inline-menu-selections {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0 0;
  overflow: hidden;
  transition: max-height 350ms, padding 350ms, opacity 350ms;
}
.inline-menu-collapsed .inline-menu-selections li {
  font-family: var(--headlineFont);
  font-size: 40px;
  font-weight: 900;
  max-height: 0px;
  margin: 0;
  opacity: 0;
  color: #FFFFFF;
  overflow: hidden;
  transition: max-height 350ms, opacity 250ms, margin 350ms;
  cursor: pointer;
}
.inline-menu-collapsed.inline-menu-expanded {
  background-color: #000000;
}
.inline-menu-collapsed.inline-menu-expanded .inline-menu-title {
  color: #FFFFFF;
}
.inline-menu-collapsed.inline-menu-expanded .inline-menu-selections {
  padding: 24px 0 80px;
}
.inline-menu-collapsed.inline-menu-expanded .inline-menu-selections li {
  max-height: 60px;
  margin: 0 0 6px;
  opacity: 1;
  overflow: hidden;
}
.inline-menu-collapsed .inline-menu-selections li.selected {
  color: var(--secondaryPink);
}

/*========== Video player styles ========== */

.video-player {
  position: relative;
}
.video-player .video-custom-button {
  -webkit-transition: all .2s;
  transition: all .2s;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: 50%;
  top: 50%;
  font-family: var(--headlineFont);
  font-size: 2em;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.video-player:hover .video-custom-button {
  opacity: 1;
}
.video-cta-play {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: var(--secondaryPink);
  width: 80px;
  height: 50px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.video-cta-play:hover {
  transform: scale(1.25);
}
.video-cta-play:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 15px 0 15px 30px;
    cursor: pointer;
}

/*========== Footer styles ========== */
.site-footer{
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  position: relative;
  bottom: 0;
  min-height: 150px;
  width: 100%;
  padding: 50px 0 0;
  font-family: var(--headlineFont);
  font-weight: 100;
}
.footer-content{
  display: flex;
  width: 100%;
  min-height: 100px;
  padding: 15px 40px;
  justify-content: space-between;
}
.footer-left {
  display: flex;
  align-items: center;
}
.footer-right {
  display: flex;
  align-items: center;
  margin-right: -12px;
}
.footer-right > span {
  display: block;
  fill: #ffffff;
  transition: fill 100ms, transform 100ms;
}
.footer-right > span > a {
  display: block;
  padding: 12px;
}

.svg-icon {
  max-height: 14px;
  max-width: 14px;
}
.footer-right > span:hover {
  fill: var(--secondaryPink);
  transform: scale(1.2);
}

.site-footer.footer-white {
  background-color: #ffffff;
  color: #000000;
}

.site-footer.footer-white .footer-right > span {
  fill: #000000;
}

.site-footer.footer-white .footer-right > span:hover {
  fill: var(--primaryBlue);
}

/*========== Project styles ========== */
.main-projects{
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.main-project-card{
  position: relative;
  display: inline-flex;
  flex: 0 0 50%;
  max-width: 50%;
}
.main-project-card .card-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  opacity: 0;
  transition: opacity 200ms;
}
.main-project-card .card-wrapper-cta,
.main-project-card .card-wrapper-cta > img,
.main-project-card > img {
  width: 100%;
}
.main-project-card .card-content .inner-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 0 0;
}
.main-project-card .card-content .client-name {
  margin: 0 0 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.main-project-card .card-content h3 {
  margin: 0 0 10px;
  font-size: 2em;
}
.main-project-card .card-content .project-tags {
  display: flex;
  flex: 0 0 0;
  margin: 0;
  font-family: var(--headlineFont);
}
.main-project-card .card-content .project-tags > li {
  margin-right: 12px;
}

.main-project-card .card-content p{
  margin: 0;
}
.main-projects.show-content .card-content {
  opacity: 1;
}
.main-project-card:hover .card-content{
  opacity: 1;
}

@media(max-width: 768px){
  .main-project-card{
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* Featured Project Image Block : Modified Card */
.main-project-card.featured-project {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.main-project-card.featured-project .card-content {
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.0);
  opacity: 1;
}
.main-project-card.featured-project .card-content .inner-content {
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.main-project-card.featured-project .card-content .project-tags {
  align-self: flex-end;
}

/*========== ABOUT PAGE ========== */
.about-page{
  background-color: black;
  color: white;
}
.main-people{
  display: flex;
  flex-wrap: wrap;
}

.main-people .main-people-card{
  display: inline-flex;
  flex: 0 0 33.333%;
  max-width: 33.333%;
  text-align: center;
  padding: 25px 0px;
}


.main-people .main-people-card .card-content img{

}
.main-people .main-people-card .card-content .personName{
  font-family: var(--headlineFont);
  font-size: 24px;
  font-weight: bold;
}

.who-we-are-about{
  padding-top: 80px;
  padding-bottom: 50px;
}

.who-we-are-about .page-tag {
  font-family: var(--bodyFont);
  font-size: 10px;
  font-weight: 100;
}
.who-we-are-about h2 {
  margin-top: 0;
}
.who-we-are-about h3 {
  line-height: 1.5;
}
.who-we-are-about .offers-header {
  margin: 80px 0 18px;
  font-size: 1.17em;
}

.who-we-are-about .offers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -15px;
}

.who-we-are-about .offers-list p{
  display: inline-flex;
  flex: 0 0 33.333%;
  max-width: 33.333%;
  padding: 0 15px;
  margin: 9px 0;
  font-family: var(--headlineFont);
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.04em;
}

.line-break{
  width: 100%;
  background-color: white;
  height: 5px;
}

.who-we-are{
  padding-top: 50px;
}

@media (min-width:414px){
.about-page .who-we-are-about .offers-header{
  text-align: left;
}
  .about-page .who-we-are-about .offers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -15px;
    text-align: left;
  }

  .main-people .main-people-card{
    display: inline-flex;
    flex: 0 0 50%;;
    max-width: 50%;;
    text-align: center;
    padding: 25px 0px;
  }
}


/* ======== Mobile responsiveness ======== */

/* About page */
@media (max-width:786px) {
  .main-people .main-people-card{
    width: 49.7%;
  }

  .who-we-are-about .offers-list p{
    flex: 0 0 50%;
    max-width: 50%;
  }

  .who-we-are{
    text-align: center;
  }
  .who-we-are-about{

  }

}


@media (max-width:414px) {
  .main-people .main-people-card{
    width: 49.3%;
  }

  .who-we-are-about h4{
    text-align: center;
  }
  .who-we-are-about .offers-list {
    text-align: center;
  }
  .who-we-are-about .offers-list p{
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offers-list{
    /* text-align: justify; */
  }
}



/* MODULES */
.center-module{
  padding: 0 50px 0 50px;
}

/* QUOTE BLOCK */
.quote-block{
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote-block img{
  width: 300px;
  height: 300px;
  padding: 0 10px;
}
.quote-block .quote-content{
  padding: 0 10px;
}
.quote-block .quote-person-name{
  font-weight: bold;
  text-align: left;
}
.quote-block .quote-person-title{
  text-align: left;
}




/* TEXT BLOCK */
.text-block{
  padding: 10px 50px;
}
.text-block .tb-headline{
}
.text-block .tb-client{
  margin: 0px 0px;
}
.text-block .tb-project{
  margin: 5px 0px;
}
.text-block .tb-content{
  width: 50%;
}




/* TEXT AND IMAGE BLOCK */
.text_and_image_block{
  display: flex;
  padding:0px 50px;
  justify-content: space-evenly;
}
.text_and_image_block .taib-content-field .taib-content{
  padding-right: 50px;
}
.text_and_image_block .taib-image{
  width: 50%;
}




/* IMAGE BLOCK */
.image-block{
  text-align: center;
}
.image-block .image-block-image{
  max-width: 1200px;
}
.image-block .image-block-caption{
}




/* IMAGE CAROUSEL */
.image-carousel{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.image-carousel .image-carousel-container{
}
.image-carousel .image-carousel-container img{
  /* max-width: 500px;
  max-height: 500px; */
  height: 300px;
}




/* TWO COLUMN GRID */
.two_column_grid{
  display: flex;
  padding: 25px 50px;
}
.two_column_grid .column1{
  width: 50%;
}
.two_column_grid .column2{
  width: 50%;
}




/* LOGO GRID */
.logo-grid{
  display: flex;
  justify-content: space-evenly;
}
.logo-grid-headline{
  text-align: center;
}
.logo-grid .logo-container a img{
  width: 250px;
  height: 250px;
}




/* HEADER IMAGE BLOCK */
.header-image-block{
  width: 100%;
  height: 800px;
  position: relative;
}
.header-image-block .hib-image{
  width: 100%;
  height: 800px;
  filter:drop-shadow(8px 8px 10px gray);
}
.header-image-block .hib-center-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.header-image-block .hib-center-content .hib-cc-cn{
  font-size: 32px;
  font-weight: bold;
}
.header-image-block .hib-center-content .hib-cc-pn{
  font-size: 28px;
}
.header-image-block .hib-pt{
  position: absolute;
  bottom: 8px;
  right: 16px;
  color: white;
  word-spacing: 30px;
}




/* THREE IMAGE COLLAGE */
.three-image-collage{
  display: inline-flex;
  width: 100%;
  height: 800px;
}

.three-image-collage .tic-stacked{
  width: 50%;
}
.three-image-collage .tic-stacked img{
  width: 100%;
  height: 400px;
}
.three-image-collage .tic-stacked .tic-stacked-2{
  margin-top: -3px;
}
.three-image-collage .tic-portrait{
  width: 50%;
}
.three-image-collage .tic-portrait img{
  height: 800px;
  width: 100%;
}
.tic-caption{
  font-size: 22px;
  text-align: center;
}



/* HEADER BLOCK FULLSCREEN */
.homepage-block-fullscreen{
  width: 100%;
  height: 800px;
  position: relative;
}
.homepage-block-fullscreen .hbf-image{
  width: 100%;
  height: 800px;
}
.homepage-block-fullscreen .hbf-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.homepage-block-fullscreen .hbf-button{
  transition: all .3s ease;
  background-color: black;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  padding: 12px 30px;
  cursor: pointer;
}
.homepage-block-fullscreen .hbf-button:hover{
  background-color: white;
  color: black;
}



/* CAREERS PAGE */
.careers-page{
  background-color: white;
}
.careers-page .cp-img{
  width: 100%;
  position: relative;
  height: 800px;
}

.cp-content{
  display: inline-flex;
  padding: 50px 50px;
  width: 100%;
}
.cp-content .cp-content-left{
  width: 50%;
  padding: 0px 200px;
}
.cp-content .cp-content-left .cp-title{
  color: gray;
  font-size: 12px;
  margin: 0;
}
.cp-content .cp-content-left .cp-blurb{
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.cp-content .cp-content-right{
  width: 50%;
  padding: 0px 200px;
}
.position-content{
  padding-bottom: 100px;
  width: 200px;
  text-align: left;
}
.position-content .pc-title{
  font-weight: bold;
  font-size: 22px;
  margin: 10px;
  margin-left: 0px;

}
.position-content .pc-blurb{
  margin: 0;
}

@media (min-width:414px){
  .careers-page .cp-img{
    width: 100%;
    position: relative;
    height: 400px;
  }
  .cp-content{
    display: block;
    padding: 50px 50px;
    width: 100%;
  }
  .cp-content .cp-content-left{
    width: 100%;
    padding: 0px 100px;
    padding-bottom: 100px;
  }
  .cp-content .cp-content-right{
    width: 100%;
    padding: 0px 100px;
  }
}
