/*

  Theme Name: Second Child
  Theme URI:
  Author: Kumar
  Author URI: https://secondchild.nyc
  Description: Theme for Second Child
  Version: 1.0
  License: GNU General Public License v2 or later
  License URI: http://gnu.org/licenses/gpl-2.0.hmtl
  Tags: CSS Grid, Flexbox ready, SecondChild
  Text Domain: SecondChild

*/



:root {
  /** Fonts **/
  --headlineFont: 'Open Sans', sans-serif;
  --bodyFont: 'Lora', serif;

  /** Colors **/
  --primaryBlue: #383dd6;
  --secondaryPink: #FFA4DF;
}


body{
  /* background-color: var(--primaryBlue); */
  background-color: gray;

  font-family: var(--bodyFont);
}

html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}

/* ========== HEADING/global Styles ========== */

h1, h2, h3{
  font-family: var(--headlineFont);
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

img{
  max-width: 100%;
  height: auto;
}

.h1-headline-large{
  font-size: 60px
}
.h1-headline-small{
  font-size: 48px;
}

.h2-secondary-large{
  font-size: 32px;
}
.h2-secondary-small{
  font-size: 24px;
}

.body-large{
  font-size: 21px;
}
.body-small{
  font-size: 24px;
}

.date-large{
  font-size: 21px;
}
.date-small{
  font-size: 18px;
}

.tag-large{
  font-size: 21px;
}
.tag-medium{
  font-size: 18px;
}
.tag-small{
  font-size: 14px;
}

.everybrow-label{
  font-size: 16px;
}

.testimonial{
  font-size: 36px;
}

.cta-label{
  font-size: 21px;
}

.hyperlink-large{
  font-size: 21px;
}
.hyperlink-small{
  font-size: 18px;
}

.text-center{
  text-align: center;
}

.page-width{
  padding: 0px 50px;
}


/*========= front header ==========*/
.site-header-front{
  height: 100vh;
  min-height: 65rem;
  padding-top: 2rem;
  margin-top: -2rem;
}

@media (min-width: 768px){
  body.home .header-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
  }
  body.home .navigation-bar{
    grid-column: 1 / 5;
  }

  .tagline{
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    color: white;
  }
}
.tagline{
  margin-top: 10rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.tagline p{
  text-align: left;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}


/*========= collapsible menu ==========*/
.b-a, .bar, .bar:before, .bar:after {
  transition: all .25s;
  content: "";
  position: absolute;
  left: 0;
  height: 6px;
  width: 30px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.95);
}

.menu-collapsed {
  transition: all .25s;
  position: fixed;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
}
.menu-collapsed ul {
  transition: all 0s;
  position: fixed;
  left: -9000px;
  /* display: flex;
  flex-direction: column; */
}
.menu-collapsed img{
  display: none;
}

.bar {
  position: fixed;
  left: 97%;
  top: 24px;
}
.bar:before {
  top: -8px;
}
.bar:after {
  top: 8px;
}

.b-a-expanded, .menu-expanded .bar:before, .menu-expanded .bar:after {
  transition: all .25s;
  top: -0px;
}

.menu-expanded {
  transition: all .25s;
  text-align: center;
  height: 700px;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: var(--primaryBlue);
}
.menu-expanded img{
  display: block;
  float: left;
  margin-top: 10px;
  padding-left: 20px;
}

.menu-expanded ul {
  transition: all 0s;
  left: 0;
  z-index: 2;
  padding: 40px;
}
.menu-expanded a {
  transition: all .15s;
  text-decoration: none;
  padding: 40px;
  color: #fff;
  display: block;
  font-size: 60px;
  max-width: 50%;
  margin-left: 100%;
}
.menu-expanded a:hover {
  color: var(--secondaryPink);
}
.menu-expanded .bar {
  background-color: transparent;
  transition: all .25s;
}
.menu-expanded .bar:before {
  transform: rotate(45deg);
}
.menu-expanded .bar:after {
  transform: rotate(-45deg);
}



/*========== Logo styles ========== */
.logo{
  padding-left: 20px;
  margin-top: 10px;
}

/*========== Video player styles ========== */

.video-player {
  position: relative;
}
.video-player .video-player-button {
  -webkit-transition: all .2s;
  transition: all .2s;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.video-player:hover .video-player-button {
  opacity: 1;
}

/*========== Footer styles ========== */
.site-footer{
  background-color: black;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 15px;
  font-family: var(--bodyFont);
}
.footer-content{
  display: flex;
  justify-content: space-between;
}

/*========== Project styles ========== */
/* .main-projects{
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */
.main-project-card{
  display: inline-flex;
  width: 49%;
}
.main-project-card .card-content{
  z-index: 20;
  padding-left: 50px;
  display: none;
}
.main-project-card .card-content h3{
  margin-top: -450px;
}
.main-project-card .card-content p{
  margin-top: 390px;
}
.main-project-card:hover  .card-content{
  display: block;
}
.main-project-card:hover  img{
}

@media(max-width: 768px){
  .main-project-card{
    width: 100%;
  }
}

/*========== About styles ========== */
.about-page{
  background-color: black;
  color: white;
}
.main-people{

}

.main-people .main-people-card{
  display: inline-flex;
  width: 33%;
  text-align: center;
  padding: 25px 0px;
}


.main-people .main-people-card .card-content img{

}
.main-people .main-people-card .card-content .personName{
  font-weight: bold;
}

.who-we-are-about{
  padding-bottom: 50px;
}

.who-we-are-about .offers-list p{
  display: inline-flex;
  width: 33%;
}

.line-break{
  width: 100%;
  background-color: white;
  height: 5px;
}

.who-we-are{
  padding-top: 50px;
}



/* ======== Mobile responsiveness ======== */

/* About page */
@media (max-width:786px) {
  .main-people .main-people-card{
    width: 49.7%;
  }

  .who-we-are{
    text-align: center;
  }
  .who-we-are-about{

  }
}

@media (max-width:414px) {
  .main-people .main-people-card{
    width: 49.3%;
  }

  .who-we-are-about h4{
    text-align: center;
  }
  .offers-list{
    text-align: justify;
  }
}
